@model DietChart.Models.Home

@{

    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Diet Chart</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../assets/images/favicon.jpeg" />
    <style>
        .form-control, .asColorPicker-input, .dataTables_wrapper select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=number], .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-search__field, .typeahead, .tt-query, .tt-hint {
            border: 1px solid #2c2e33;
            height: calc(2.25rem + 2px);
            font-weight: normal;
            font-size: 0.875rem;
            padding: 0.625rem 0.6875rem;
            background-color: #fff;
            border-radius: 2px;
            color: #141212;
        }
    </style>
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="row w-100 m-0">
                <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                    <div class="card col-lg-4 mx-auto bg-white">
                        <div class="card-body px-5 py-5">
                            <center><img src="~/assets/images/logo.jpeg" style="height:120px;" class="img-fluid" /></center>
                            <h3 class="card-title text-center mb-3 mt-3 text-dark">Admin Login</h3>
                            @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
                            {
                                <div class="form-group">
                                    <label class="text-black">Login Id <span class="text-danger">*</span> </label>
                                    @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @Placeholder = "Login Id" })
                                </div>
                                <div class="form-group">
                                    <label class="text-black">Password <span class="text-danger">*</span> </label>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @Placeholder = "Password" })
                                </div>
                                <div class="text-center mt-5">
                                    <button type="submit" class="btn bg-green btn-block enter-btn" onclick="return validate();">Login</button>
                                </div>
                                <span class="text-danger">
                                    <p class="text-center mt-3">@TempData["msg"]</p>
                                </span>
                            }
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- row ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/misc.js"></script>
    <script src="../../assets/js/settings.js"></script>
    <script src="../../assets/js/todolist.js"></script>
    <!-- endinject -->
</body>
</html>
<script>
    function validate() {
        if ($('#LoginId').val() == '') {
            $("#LoginId").addClass('errortext');
            $('#LoginId').focus();
            return false;
        }
        if ($('#Password').val() == '') {
            $("#Password").addClass('errortext');
            $('#Password').focus();
            return false;
        }
    }
</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>